<!DOCTYPE html>
<html th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <!-- Navbar content -->
        <a class="navbar-brand" href="../landingpage">ProcurApp</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../notices/"> Notice preview </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../register/"> Register form </a>
                </li>
            </ul>
        </div>
    </nav>
</html>